.search__button {
  height: 38px;
}

.form__group {
  display: flex;

}

.form__title {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .search-input {
    width: 250px;
  }

}